<%= form_for [commentable, Comment.new] do |f| %>
	<div class="form-group">
		<%= f.text_area :body, class: "form-control", placeholder: "Adicione um comentário" %>
	</div>
	<%= f.submit 'Comentar', class: "btn btn-primary" %>
<% end %>