<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
  <p id="notice"><%= notice %></p>
  <p>Ol치 <%= @email %>!</p>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12 conteudoInf">
	<% if @resource.try(:unconfirmed_email?) %>
	  <p>Estamos entrando em contato para notific치-lo de que seu e-mail est치 sendo alterado para <%= @resource.unconfirmed_email %>.</p>
	<% else %>
	  <p>Estamos entrando em contato para notific치-lo de que seu e-mail foi alterado para <%= @resource.email %>.</p>
	<% end %>
</div>