<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12">
  <p id="notice"><%= notice %></p>
  <p>Olá <%= @resource.email %>!</p>
</div>

<div class="col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2 col-xs-12 conteudoInf">
	<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

	<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

	<p>Se você não solicitou isso, ignore este e-mail.</p>
	<p>Sua senha não será alterada até que você acesse o link acima e crie um novo.</p>
</div>